@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.orange{
    color: rgb(253, 110, 10);
}
/* Header Styles Below */

.navbar{
    width: 1870px;
    height: 130px;
    /* border: 4px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.navbar .logo{
    font-weight: 800;
    font-size: 60px;
    /* border: 3px solid black; */
    height: 100px;
    position: absolute;
    top: 30px;
    left: 200px;
    cursor: pointer;
}

.navbar ul{
    width: 200px;
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    position: absolute;
    top: 30px;
    right: 450px;
    list-style-type: none;
}
.navbar ul li{
    /* font-family: "Poppins", sans-serif; */
    font-size: 28px;
    font-weight: 400;
}
.navbar ul li a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}
.navbar .btn{
    padding: 16px 20px 16px 20px;
    border: none;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    position: absolute;
    top: 50px;
    right: 180px;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

/* Hero left Side Styles */

/* .hero{
    border: 5px solid red;
} */
.hero-content{
    margin-top: 50px;
    /* border: 5px solid hotpink; */
    display: flex;
    justify-content: space-around;
}
.hero-content .hero-left-container{
    width: 800px;
    height: 356px;
    /* border: 5px solid black; */
    margin-left: 80px;
    margin-top: 80px;
}
.hero-left-container .hero-left-button{
    width: 800px;
    height: 100px;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-left-button button{
    padding: 16px 20px 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(253, 110, 10);
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
}
.hero-left-button button i{
    margin-right: 10px;
}

.hero-left-container h4{
    color: rgb(71, 71, 71);
    font-size: 40px;
    font-weight: 600;
}
.hero-left-container h1{
    color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: 700;
}

.hero-left-container p{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    /* border: 3px solid yellow; */
    margin-top: 25px;
}
.hero-content .hero-right-container{
    width: 720px;
    height: 450px;
    /* border: 5px solid purple; */
    /* background-image: url(images/mjk.png); */
    margin-bottom: 80px;
    position: relative;
    /* background-repeat: no-repeat; */
}

.hero-right-container img{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 700px;
    /* height: 525px; */
}

/* Main Body Styles Below */

.about-me{
    width: 1870px;
    /* border: 4px solid black; */
    height: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-me .about-me-left{
    width: 900px;
    height: 600px;
    /* border: 3px solid blueviolet; */
    display: flex;
    justify-content: center;
}
.about-me-left img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.about-me .about-me-right{
    width: 900px;
    height: 630px;
    /* border: 3px solid greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
.about-me-right h1{
    font-size: 50px;
    margin-top: 40px;
}
.about-me-right div{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    /* border: 1px solid rebeccapurple; */
    width: 600px;
    position: relative;
    left: -15px;
    top: 20px;
}
.about-me-right div h3{
    width: 600px;
    height: 80px;
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    position: relative;
    left: 0px;
    top: 40px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 1.5px;
    font-weight: 400;
}
.Bi-Bold{
    font-weight: 700;
}

/* My Bands Styles Here */

.My-Bands{
    width: 1870px;
    height: 750px;
    /* border: 3px solid black; */
    margin: 0 auto;
}
.My-Bands h1{
    margin: 10px;
    text-align: center;
    font-size: 45px;
}
.My-Bands .My-Bands-Content{
    width: 1800px;
    height: 600px;
    /* border: 4px solid green; */
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.My-Bands-Content .bands-card{
    width: 450px;
    height: 480px;
    /* border: 2px solid red; */
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bands-card .img-container{
    width: 100%;
    height: 25%;
    /* border: 2px solid green; */
    background-position: center;
    background-size: 180px 180px;
    background-repeat: no-repeat;
}
.bands-card .tool{
    background-image: url(images/tool.png);
}
.bands-card .apc{
    background-image: url(images/apc.png);
}
.bands-card .puscifer{
    background-image: url(images/puscifer2.webp);
}
.bands-card h2{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    /* border: 2px solid black; */
}
.bands-card p{
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
    color: rgb(117, 117, 117);
    line-height: 30px;
}
.bands-card span{
    margin-top: 60px;
    /* border: 2px solid tomato; */
    position: absolute;
    top: 75%;
    left: 5%;
} 
.bands-card span a{
    font-size: 18px;
    font-weight: 600;
    color: rgb(24, 24, 24);
    text-decoration: underline;
}

/* Quote Styles Here */

.mjk-quote{
    width: 100%;
    height: 20rem;
    /* border: 5px solid greenyellow; */
    background-color: #fbf7f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mjk-quote h1{
    font-size: 40px;
    font-weight: 800;
    margin-top: -10px;
    /* border: 2px solid black; */
}
.mjk-quote .quote-box{
    width: 80%;
    height: 10rem;
    /* border: 5px solid black; */
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    position: relative;
}
.quote-box .slider-arrow{
    width: 18px;
    height: 18px;
    border: #000;
    color: rgb(71, 71, 71);
    position: absolute;
    top: 50%;
    cursor: pointer;
    /* margin-top: -15px; */
}
.slider-arrow:hover{
    color: black;
}
.quote-box .prev{
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 10px;
}
.quote-box .next{
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 10px;
}
.quote-box #slider-ul{
    list-style-type: none;
    margin-left: 4%;
    width: 75%;
    text-align: center;
    height: 150px;
    padding: 10px;
    line-height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.quotation{
    margin: 20px auto;
    font-size: 36px;
    font-weight: 700;
    color: #1d1f20;
    font-style: italic;
}

/* Misc Work Styles Here */

.misc h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.misc-work{
    width: 100%;
    height: 80rem;
    margin-top: 70px;
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.misc-work-container{
    width: 70%;
    height: 30rem;
    /* border: 3px solid blue; */
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.misc-work-container .misc-info{
    width: 40%;
    height: 20rem;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.misc-work-container .misc-title{
    font-size: 30px;
    font-weight: 600;
    text-align: start;
}
.misc-work-container .misc-subtitle{
    color: rgb(117, 117, 117);
    text-align: justify;
}
.misc-work-container .misc-img{
    width: 35%;
    height: 18rem;
}
.misc-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Footer Styles Here */

.footer{
    width: 100%;
    height: 20rem;
    border: 5px solid black;
    /* background-color: rgb(253, 110, 10); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.footer-info-left{
    width: 30%;
    height: 17rem;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}
.footer-info-left h3{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2.5px;
}
.footer-info-left p{
    font-size: 16px;
    text-align: justify;
    margin-top: -10px;
}
.footer-info-left .footer-link{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
}
.footer-info-left .footer-icon{
    width: 60%;
    height: 3rem;
    margin-top: -10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
.footer-icon i{
    font-size: 30px;
    /* border: 2px solid red; */
}
.footer-info-middle{
    width: 30%;
    height: 17rem;
    /* border: 3px solid black; */
    margin-top: 20px;
}
.footer-info-middle h3{
    font-size: 24px;
    font-weight: 700;
}
.grid-links-list{
    margin-top: 20px;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.grid-links-list li{
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    /* border: 3px solid red; */
    list-style-type: none;
    font-size: 18px;
    /* padding: 10px; */
    text-align: justify;
}



