@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.navbar{
    width: 1920px;
    height: 130px;
    /* border: 4px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.navbar .logo{
    font-weight: 800;
    font-size: 60px;
    /* border: 3px solid black; */
    height: 100px;
    position: absolute;
    top: 30px;
    left: 200px;
    cursor: pointer;
}
.navbar .logo span{
    color: tomato;
}
.navbar ul{
    width: 200px;
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    position: absolute;
    top: 30px;
    right: 450px;
    list-style-type: none;
}
.navbar ul li{
    /* font-family: "Poppins", sans-serif; */
    font-size: 28px;
    font-weight: 400;
}
.navbar ul li a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}
.navbar .btn{
    padding: 16px 20px 16px 20px;
    border: none;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    position: absolute;
    top: 50px;
    right: 180px;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

/* Hero left Side Styles */

.hero-content{
    margin-top: 50px;
    /* border: 5px solid hotpink; */
    display: flex;
    justify-content: space-around;
}
.hero-content .hero-left-container{
    width: 800px;
    height: 356px;
    /* border: 5px solid black; */
    margin-left: 80px;
    margin-top: 80px;
}
.hero-left-container .hero-left-button{
    width: 800px;
    height: 100px;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-left-button button{
    padding: 16px 20px 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(253, 110, 10);
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
}
.hero-left-button button i{
    margin-right: 10px;
}

.hero-left-container h4{
    color: rgb(71, 71, 71);
    font-size: 40px;
    font-weight: 600;
}
.hero-left-container h1{
    color: rgb(24, 24, 24);
    font-size: 60px;
    font-weight: 700;
}
.hero-left-container h1 span{
    color: tomato;
}
.hero-left-container p{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    /* border: 3px solid yellow; */
    margin-top: 25px;
}
.hero-content .hero-right-container{
    width: 720px;
    height: 450px;
    /* border: 5px solid purple; */
    /* background-image: url(images/mjk.png); */
    margin-bottom: 80px;
    /* background-repeat: no-repeat; */
}
.hero-right-container img{
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
}